button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    }      
    .link-logotype-top {
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        color: #4D5AE5;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        }   
    .acsent-logo-top {
            color: #2e2f42;
        }
    .link-nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    .link {
    text-decoration: none;
    color: #434455;
    }
    .link-nav-link {
        color: #2e2f42;
    }
    .link-nav-link:hover {
        color: #404bbf;
    }
    .link-nav-link:focus {
        color: #404bbf;
    }
    .link:active {
        color: #404bbf;
    }
    
    .contacts {
        font-style: normal;
    }
    
    .contacts .link:hover {
        color: #404bbf;
        }
    .contacts .link:focus {
    color: #404bbf;
    }
    .order-button:hover {
        background-color: #404BBF
    }
    .order-button:focus {
        background-color: #404BBF;
    }
.hero {
    font-family: Roboto;
weight: Bold;
background-color: #2e2f42;
font-size: 56px;
line-height: 1.07;
letter-spacing: 2%;
line-height: 60px;
}
.hero-header {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.order-button {
        color: #ffffff;
        background-color: #4D5AE5; 
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
    }
.advantages-section {
    font-family: Roboto;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.advantages-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.advantages-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team {
    background-color: #F4F4FD;
    }
.our-team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.our-team-member {
    background-color: #FFFFFF;
}
.team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
   }
.team-product {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.banking {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.app {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
.footer-app {
    background-color: #2e2f42;
}
.link-logotype{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.acsent-logo {
    color: #f4f4fd;
    }
    .footer-web {
        background-color: #2e2f42;
    }
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}